*{
    margin: 0;
    padding: 0;  
    scroll-behavior: smooth;
}
.container{
    background-color: #121325;
}
.wrapper{
    position: relative;
    width:100%;
    height:100vh;
}
.wrapper img{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    object-fit: cover;
}
.stars img{
    position: absolute;
    height:100vh;
    width:100%;
    mix-blend-mode: screen;
}
/* .spaceship img{
    height:100vh;
}
 */
