body {
    margin: 0;
    scroll-behavior: smooth;
    overflow: hidden; /* Hide vertical scrollbar */
}

.scroll-container {
    display: flex;
    flex-direction: row; /* Horizontal layout */
    overflow-x: scroll; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent divs from wrapping to the next line */
    height: 100vh; /* Full viewport height */
   
}

.item {
   
    height: 100vh; /* Full viewport height for each item */
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.item-1 img {
   height: 20vh;
   width: 20vw;
}
.sunpng img{
    height: 100vh;
    
}
.item-2 img{
    height: 100vh;
    transform: scaleX(-1);
 
}

.item-3 img{
    height: 100vh;

}
   

.item-4 img{
    height: 100vh;
    transform: scaleX(-1);
}

